.form {
  max-width: 358px;
  margin: 48px 0 0;
}

.form__set {
  border: none;
  padding: 0;
  margin: 0 0 48px;
}

.form__field {
  display: flex;
  position: relative;
}

.form__field:last-of-type {
  margin: 29.74px 0 0;
}

.form__field:only-child {
  margin: 0;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 10.26px;
  font-size: 14px;
  line-height: 16.94px;
}

.form__input_type-error {
  border-bottom: solid 1px #f00;
}

.form__error {
  font-size: 12px;
  line-height: 14.52px;
  color: #f00;
  position: absolute;
  top: 28px;
  display: none;
}

.form__error_visible {
  display: block;
}

.form__submit-button {
  width: 100%;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  margin: 0;
  cursor: pointer;
}

.form__submit-button:hover {
  opacity: 80%;
}

.form__submit-button-inactive {
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  pointer-events: none;
}

@media screen and (max-width: 635px) {
  .form {
    margin: 74px 0 0;
  }

  .form__set {
    margin: 0 0 486px;
  }

  .form__input {
    padding: 0 0 9px;
  }

  .form__field:last-of-type {
    margin: 30px 0 0;
  }

  .form__submit-button {
    height: 46px;
  }
}
