.gallery {
  max-width: 880px;
  width: 100%;
  margin: 50px auto 0;
}

.gallery__cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 17px;
}

.gallery__card {
  max-width: 282px;
  max-height: 361px;
  width: 100%;
  height: 361px;
  position: relative;
}

.gallery__card:hover {
  cursor: pointer;
}

.gallery__card-delete-button {
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none;
}

.gallery__card-delete-button-visible {
  display: block;
}

.gallery__card-delete-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.gallery__card-image {
  width: 100%;
  height: 100%;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
}

.gallery__card-information {
  background-color: #fff;
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 21px;
  border-radius: 0 0 10px 10px;
}

.gallery__card-name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gallery__card-like-content {
  text-align: center;
  max-width: 21px;
  width: 100%;
}

.gallery__card-like-button {
  background-image: url(../assets/images/gallery/gallery_card_like_button.svg);
  background-color: transparent;
  border: none;
  max-width: 21px;
  width: 100%;
  height: 19px;
}

.gallery__card-like-counter {
  font-size: 13px;
  line-height: 15.73px;
}

.gallery__card-like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.gallery__card-like-button-active {
  background-image: url(../assets/images/gallery/gallery_card_like_button_active.svg);
}

@media screen and (max-width: 440px) {
  .gallery {
    padding: 0 19px;
  }
}
