.header {
  max-width: 880px;
  width: 100%;
  height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 440px) {
  .header {
    margin: 28px auto 0;
    padding-left: 27px;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
