.header {
  max-width: 880px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 45px auto 40px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__menu {
  display: flex;
  margin: 5px 0 0;
}

.header__email {
  line-height: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-right: 58px;
}

.header__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.header__menu-button {
  background-color: transparent;
  border: none;
}

.header__menu-button-image {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .header__mobile-menu {
    display: flex;
    margin: 40px auto 0;
    padding-bottom: 46px;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }

  .header__email {
    margin: 0 auto 12px;
  }
}

@media screen and (max-width: 440px) {
  .header__content {
    margin: 28px 30px 32px;
  }

  .header__mobile-menu {
    margin: 40px auto 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }

  .header__menu {
    margin: 3px 0 0;
  }

  .header__button {
    font-size: 14px;
  }
}
