.signin {
  margin: 60px auto 0;
  max-width: 360px;
}

.signin__title {
  line-height: 100%;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.signin__form {
  margin: 50px auto 15px;
}

.signin__form-set {
  margin: 0 auto 216px;
}

.form__signin-input {
  border-color: rgba(204, 204, 204, 1);
  color: rgba(204, 204, 204, 1);
  background-color: #000;
  padding: 0 0 13px;
  line-height: 100%;
}

.form__signin-error {
  top: 31px;
}

.form__signin-submit-button {
  line-height: 100%;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.form__signin-submit-button-inactive {
  background-color: rgba(255, 255, 255, 0.2);
}

.signin__text {
  line-height: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.signin__link {
  color: #fff;
}

@media screen and (max-width: 375px) {
  .signin {
    margin: 40px auto 0;
    max-width: 260px;
  }

  .signin__title {
    font-size: 20px;
  }

  .signin__form {
    margin: 40px auto 20px;
  }

  .signin__form-set {
    margin: 0 auto 173px;
  }

  .form__signin-submit-button {
    font-size: 16px;
  }

  .signin__text {
    font-size: 12px;
  }
}
