.viewer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.viewer__content {
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  max-height: 100%;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.viewer__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -37px;
  right: -37px;
}

.viewer__close-image {
  width: 32px;
  height: 32px;
}

.viewer__close-image:hover {
  cursor: pointer;
  opacity: 60%;
}

.viewer__image {
  max-width: 816px;
  max-height: 540px;
  width: 100%;
}

.viewer__title {
  font-size: 12px;
  line-height: 14.52px;
  margin-top: 10px;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .viewer__content {
    margin: 90px auto 0;
    padding: 0 70px 0;
  }

  .viewer__close-button {
    top: -37px;
    right: 33px;
  }
}

@media screen and (max-width: 671px) {
  .viewer__content {
    margin: 120px auto 0;
    padding: 0 50px 0;
  }
  .viewer__close-button {
    width: 24px;
    height: 24px;
    top: -27px;
    right: 23px;
  }

  .viewer__close-image {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 440px) {
  .viewer__content {
    margin: 136px auto 0;
    padding: 0 40px 0;
  }

  .viewer__close-button {
    top: -27px;
    right: 13px;
  }
}
